@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<LoaiHang>
@using Microsoft.AspNetCore.Mvc.Rendering

<div class="header">
	<div class="header_top">
		<div class="logo">
			<a href="index.html"><img src="images/logo.png" alt="" /></a>
		</div>
		<div class="cart">
			<p>
				Welcome to our Online Store! <span>Cart:</span><div id="dd" class="wrapper-dropdown-2">
					0 item(s) - $0.00
					<ul class="dropdown">
						<li>you have no items in your Shopping cart</li>
					</ul>
				</div>
			</p>
		</div>
		<div class="clear"></div>
	</div>
	<div class="header_bottom">
		<div class="menu">
			<ul>
				<li class="active"><a>Nguyễn Thị Thu Uyên</a></li>
				@foreach(var l in Model)
				{
					<li><a>@l.TenLoai</a></li>
				}
				
				<div class="clear"></div>
			</ul>
		</div>
		<div class="search_box">
			<form>
				<input type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
				<input type="button" value="">
			</form>
		</div>
		<div class="clear"></div>
	</div>
</div>