
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/NguyenThiThuUyen_Layout.cshtml";
}
@model IEnumerable<HangHoa>
<div class="main">
	<div class="content">
		<!-- Begin New Product -->
		<div class="content_top">
			<div class="heading">
				<h3>Nguyễn Thị Thu Uyên</h3>
			</div>
			<div class="see">
				<p><a href="#">See all Products</a></p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="section group">
			@foreach (var hh in Model)
			{
				<div class="grid_1_of_4 images_1_of_4">
					<a href="preview.html"><img src="~/images/@hh.Anh" alt="" /></a>
					<h2>@hh.TenHang</h2>
					<div class="price-details">
						<div class="price-number">
							<p><span class="rupees">@hh.Gia</span></p>
						</div>
						<div class="add-cart">
							<h4><a href="preview.html">Add to Cart</a></h4>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			}


		</div>
		<!-- End New Product -->
		<!-- Begin Feature Products -->
		<!--	<div class="content_bottom">
			<div class="heading">
				<h3>Feature Products</h3>
			</div>
			<div class="see">
				<p><a href="#">See all Products</a></p>
			</div>
			<div class="clear"></div>
		</div>
		<div class="section group">
			<div class="grid_1_of_4 images_1_of_4">
				<a href="preview.html"><img src="images/new-pic1.jpg" alt="" /></a>
				<h2>Lorem Ipsum is simply </h2>
				<div class="price-details">
					<div class="price-number">
						<p><span class="rupees">$849.99</span></p>
					</div>
					<div class="add-cart">
						<h4><a href="preview.html">Add to Cart</a></h4>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="grid_1_of_4 images_1_of_4">
				<a href="preview.html"><img src="images/new-pic2.jpg" alt="" /></a>
				<h2>Lorem Ipsum is simply </h2>
				<div class="price-details">
					<div class="price-number">
						<p><span class="rupees">$599.99</span></p>
					</div>
					<div class="add-cart">
						<h4><a href="preview.html">Add to Cart</a></h4>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="grid_1_of_4 images_1_of_4">
				<a href="preview.html"><img src="images/new-pic4.jpg" alt="" /></a>
				<h2>Lorem Ipsum is simply </h2>
				<div class="price-details">
					<div class="price-number">
						<p><span class="rupees">$799.99</span></p>
					</div>
					<div class="add-cart">
						<h4><a href="preview.html">Add to Cart</a></h4>
					</div>
					<div class="clear"></div>
				</div>
			</div>
			<div class="grid_1_of_4 images_1_of_4">
				<a href="preview.html"><img src="images/new-pic3.jpg" alt="" /></a>
				<h2>Lorem Ipsum is simply </h2>
				<div class="price-details">
					<div class="price-number">
						<p><span class="rupees">$899.99</span></p>
					</div>
					<div class="add-cart">
						<h4><a href="preview.html">Add to Cart</a></h4>
					</div>
					<div class="clear"></div>
				</div>
			</div>
		</div>-->
		<!-- End Feature Products -->
	</div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
@section Scripts{
	<script>
		$("li").click(function (e) {
			var id = $(this).attr("id");
			var data = { catID: id };
			console.log(id);
			$.ajax({
				url: "HangHoabyCatID",
				data: data,
				success: function (response) {
					$("div.content").html(response);
				}
			});
		});
	</script>
}

